body{
  background-color: #fff3e2;
}

hr{
  color: #99b0c2;
  border-style: dotted none none;
  width: 10%;
  border-width: 7px;
}

h1{
  color:#5588a3;
  text-align: center;
}
h3{
  color: #5588a3;
}
